

.dashboard {
	display:flex;
	height: 100vh;
    background-color: #f5f5f5;
}
.sidebar {
	height: 100vh;
    /* width: 30%; */
}

.dashNav {
    background-color: var(--nav-color);
    width: 100%;
    overflow-x: hidden;
    padding: 2rem;
    height: 80px;
    border-bottom: 1px solid #dad8d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashIcon {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outlet {
    overflow-y: scroll;
    padding: 20px 40px;
    background: var(--nav-color);
    height: 100vh;
    
}

.logo {
    height: 3.8rem;
    width: 4rem;
  }

  .userProfile {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
	gap: 40px;
    font-size: 10px;
   
}

.userProfile p {
    font-weight: bold;
}

.userProfile img {
    height: 3rem;
	border-radius: 100px;

}

.notification {
    height: 60px;
}