/* .login {
	margin: 2rem;
	padding: 1.5rem 2rem;
	
	background-size: cover;
	background-position: center;
	min-height: calc(100vh - 5rem);
	border-radius: 10px;
} */

.login {
	display: flex;
	background-color: #f5f5f5;
	place-items: center;
	height: 100vh;
}

.login .image {
	height: 100vh;
	overflow: hidden;
}



.form {
	background-color: #f5f5f5;
	border-radius: 7px;
	padding: 2rem 1.3rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 23rem;
	margin: 10rem auto;
	font-weight: bold;
	min-height: 20vh;
	border: 1px solid #7dc5fa;
}

.signup {
	gap: 0.4rem;
	font-size: 14px;
	overflow-y: hidden;
}

.row {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.row small {
	margin-left: 10rem;
	font-size: 10px;
}

.row input {
	height: 2rem;
	border-radius: 5px;
	padding: 5px;
	border-width: 0.9px;
}

.btn {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
}

.row a:link {
	text-decoration: none;
}

.row a {
	color: #004c97;
}

.btn button {
	padding: 0.7rem 0.4rem;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	background-color: #004c97;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 3px;
	width: 100%;
}

.btn button:hover {
	/* background-color: rgb(210, 152, 85) */
}

input.inputError {
	border-width: 1px;
	border-color: #ff0000;
}

.errorFeedback {
	color: rgb(235, 54, 54);
	margin-top: -4px;
	font-size: 10px;
}

.btnbutton:disabled {
	opacity: 0.35;
}
