.mainContent p {
font-size: 12px;
}

.herocard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   grid-gap: 20px;
}


.icon {
    filter: invert(25%) sepia(98%) saturate(318%) hue-rotate(192deg) brightness(102%) contrast(101%);
  }

.calendarSection {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 38px;
    gap: 37px;
   
}

/* card */

 .card {
    display: flex;
    flex-direction: column;
    background-color: #fff ;
    height: 400px;
    overflow-y: scroll;
    width: 350px;
    padding: 25px;  
    gap: 10px;
    border-radius: 20px;
  
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.heading a:link {
	text-decoration: none;
}

.heading a {
    color: #004c97;
}