.mainContent p {
	font-size: 12px;
}



.herocard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

@media screen and (max-width: 1000px) {
	.herocard {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		margin-bottom: 40px ;
		width:80%;
	}
}

@media screen and (max-width: 700px) {
	.herocard {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 50%
	}
}


.icon {
	filter: invert(25%) sepia(98%) saturate(318%) hue-rotate(192deg)
		brightness(102%) contrast(101%);
}

/* Calendar sectiom */

.calendarSection {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-top: 38px;
	gap: 37px;
}

/* card */

.card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	height: 400px;
	overflow-y: scroll;
	width: 40%;
	padding: 25px;
	gap: 10px;
	border-radius: 20px;
}

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}

.heading a:link {
	text-decoration: none;
}

.heading a {
	color: #004c97;
}

@media screen and (max-width: 800px) {
	.calendarSection {
		/* flex-direction: column; */
		margin-top: 0px;
		gap: 4px !important;
	}

	.card {
		width: 35%;

	}
}


/* Subject page */ 
.subjectPage {
	background-color: #fff;
	height: 100vh;
	overflow-y: scroll;
	padding: 20px;
}

.subjectcards {
	width: 92%;
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
	grid-template-rows: min-content
}

@media screen  and (max-width: 1000px){
	.subjectcards {
		grid-template-columns: repeat(3, 1fr);

	}
}

@media screen  and (max-width: 800px){
	.subjectcards {
		grid-template-columns: repeat(2, 1fr);

	}
}

@media screen  and (max-width: 700px){
	.subjectcards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		

	}
}