.search {
  justify-self: center;
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  color: var(--color-text);
  border: none;
  border-color: #000;  
  background-color: #fff;
}

.search::placeholder {
  color: #33333399;
}

.search:focus {
  outline: none;
  transform: translateY(-2px);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .search {
    width: 80%; 
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .search {
    width: 100%; 
    font-size: 0.8rem; 
  }
}