:root {
	--bg-color : ##FFFFFF;
	--font-color: #262424;
	--nav-color: #EEEEEE;
}

.sidebar {
	background: var(--bg-color);
	height: 100vh;
	width: 256px;
	padding: 25px;
	
}



.sidebarLink ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 5em;
}

.sidebarLink ul li {
	display: flex;
	align-items: center;
	gap: 9px;
	font-size: 16px;
    transition: 0.4s ease-in-out; 
}
.sidebarLink a {
	display: flex;
	gap: 12px;
	text-decoration: none;
	color: var(--font-color);
	align-items: center;
}

.sidebarLink a:hover {
	margin-right: 1rem;
}

.sidebarLink li:hover,
.sidebarLink li:focus {
	background-color: #eee;
	padding: 8px;
	transition: 0.4s ease-in-out;
	border-radius: 10px;
    cursor: pointer;
}

.sidebarLink li a:global(.active) {
    background-color: #eee;
	padding: 10px;
	transition: 0.4s ease-in-out;
	border-radius: 10px;
    cursor: pointer;
   
}
