:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


    --color-brand--1: #ffb545;
    --color-brand--2: #f0dbc0;
  
    --color-dark--0: #242a2e;
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #e9e4e4;
    --color-light--3: #d6dee0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Calendar Component */

.rbc-month-view {
  color: #004c97
  /* border-radius: 10px; */
}

.rbc-month-row:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.rbc-time-view {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


}

.rbc-toolbar {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;

}
.rbc-day-bg {
  background-color: #fff;
  border-color: #213547;
}
.rbc-calendar {
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}

.calen {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .calen {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .calen {
    width: 40%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius:  10px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
